fastapi==0.95.2
uvicorn[standard]==0.22.0
python-multipart==0.0.6
celery==5.3.4
redis==5.0.1
pydantic>=1.10.0,<2.0.0
python-dotenv==1.0.0
aiofiles==23.2.1
faster-whisper==0.10.0
nemo-toolkit[asr]==1.20.0
ctc-forced-aligner==1.0.2
nltk==3.8.1
omegaconf>=2.2,<2.3
wget==3.2
numpy
Cython==0.29.24
scipy==1.10.0
scikit-learn==1.2.2
scikit-image==0.19.3
scikit-video==1.1.11
huggingface_hub
transformers
torch
torchaudio
git+https://github.com/MahmoudAshraf97/demucs.git
git+https://github.com/oliverguhr/deepmultilingualpunctuation.git
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git